.about {
  text-align: center;
}

.bg-img {
  background-image: url('../../trucking-website/src/assets/photos/j&h-photos/header1.png');
  background-position: center;
  background-size: cover;
  height: 10rem;
}

.navTitle {
  color: coral;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

.navBar {
  background-color: inherit;
  display: inherit;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

