* {
  padding: 0;
  margin: 0;
}

.navHeader {
  padding: 5px;
  background-color: white;
  border: 8px groove silver;
}

.navTitle {
  color: coral;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* NavBar links */
.navBar {
  color: white;
  display: inherit;
  align-items: center;
  gap: 2.5rem;
  padding: 1;
}

.navTitle a:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
}

/* Home page styling */
/* .homeUni {
  
} */

.truckImg {
  padding: 5px;
  border: 1px solid black;
  margin: 4px;
  width: 30%;
  background-color: black;
  float: right;
  overflow: auto;
}

.homeTitle {
  text-align: center;
  text-decoration: underline;
  padding: 5px;
  border: 1px;
  margin: 10px;
}

.homeHeading {
  text-align: center;
  float: left;
  padding: 35px;
  width: 55%;
  overflow: auto;
}

.homeInfo {
  padding: 35px;
  float: left;
  width: 65%;
  overflow: auto;
}

/* Services section styling */
.servicesMain {
  text-align: center;
  background-color: white;
  color: black;
}

.contactBody {
  text-align: center;
}

/* helpers */
.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}


