* {
  padding: 0;
  margin: 0;
}

.navHeader {
  padding: 5px;
  background-color: white;
  border: 8px groove silver;
}

.navTitle {
  color: coral;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* NavBar links */
.navBar {
  color: white;
  display: inherit;
  align-items: center;
  gap: 2.5rem;
  padding: 1;
}

.navTitle a:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
}

.pageTitle {
  text-align: center;
  padding: 5px;
  border: 1px;
  margin: 10px;
}

.aboutSection {
  text-align: center;
  background-color: black;
  color: #ddd;
}

.imgHome {
  image-rendering: crisp-edges;
  max-width: 100%;
  height: auto;
}

h3 {
  color: white;
}



